html, body, #mainContainer { height: 100%; }
body > #mainContainer { height: auto; min-height: 100%; }

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: #1e376d;
    text-align: center;
}

#mainContent { padding-bottom: 3em; }

.odd {
    background-color: #F2F2F2;

}

.even {
    background-color: #FFF;
}

.waitingBankValidation{
    background-color: #FFDADA;
}

.sectionHeading{
    font-size: 15px;
    text-decoration: underline;
    -moz-text-decoration-color: #1e376d; /* Code for Firefox */
    text-decoration-color: #1e376d;
    display: inline;
}

.pathcare-topbar{

    border-bottom: 2px solid #004B8E;
    height: 60px;
}

.pathcare-maincontainer{
    margin-top: 10px;
}

.section-heading{
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -moz-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -ms-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -o-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: linear-gradient(to bottom, #ebebeb, #d9d9d9);
    padding: 5px 10px 5px 10px;


    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

.hover tr:hover{
    background-color: #ededed;
    cursor: pointer;
}

/* Home */
.dashboard-button-container{
    text-align: center;
}

/* Home Dashboard Links */
.dashboard-button-container{

}

.dashboard-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: #5e5e5e;
    font-size: 15px;
    background: #ebebeb;
    background-image: -webkit-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -moz-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -ms-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: -o-linear-gradient(top, #ebebeb, #d9d9d9);
    background-image: linear-gradient(to bottom, #ebebeb, #d9d9d9);
    padding: 20px 20px 20px 20px;
    text-decoration: none;

    width: 100%;
    display: block;
}

.dashboard-button:hover {
    background-image: -webkit-linear-gradient(top, #c2c2c2, #a1a1a1);
    background-image: -moz-linear-gradient(top, #c2c2c2, #a1a1a1);
    background-image: -ms-linear-gradient(top, #c2c2c2, #a1a1a1);
    background-image: -o-linear-gradient(top, #c2c2c2, #a1a1a1);
    background-image: linear-gradient(to bottom, #c2c2c2, #a1a1a1);
    text-decoration: none;
    color: #004B8E;
}

/**************************** Patient Search *************************/
#patientSearch-resultBox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #DADADA;
    padding: 10px;

    border-radius: 4px;
}

#patientSearch-BankingDetailsBox{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid #DADADA;
    padding: 10px;

    border-radius: 4px;
}

#patientSearch-MsgBox{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

/* Patient Process Payment */
#DataTables_Table_0_filter{
    float: left!important;
}

#DataTables_Table_1_filter{
    float: left!important;
}

#DataTables_Table_2_filter{
    float: left!important;
}

#DataTables_Table_3_filter{
    float: left!important;
}

.hasErrorBox{
    border: 1px solid #fe9797!important;
}

.hasSuccessBox{
    border: 1px solid #8ef88e!important;
}

#processPayment-MsgBox{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}


.pathCare_table th{
    background-color: #004B8E!important;
    padding: 3px;
    font-size: 12px;
    color: #FFF;
}

.pathCare_box{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);

    padding: 20px;
}

.pathcare-tab a{
    outline: none;
}

.circleCSS_good {
    width: 15px;
    height: 15px;
    background: #9dff59;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    margin-left: auto;
    margin-right: auto;
}

.circleCSS_bad {
    width: 15px;
    height: 15px;
    background: #ff5959;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    margin-left: auto;
    margin-right: auto;
}

.loading-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0 ) url('../img/ripple.svg') 50% 50% no-repeat;
}

.boxed-section{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.boxed-section-sm{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 400px;
}
