<!DOCTYPE html>
<html lang="en" ng-app="pathcareApp">
<head>
    <meta charset="UTF-8">
    <title>Pathcare Portal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/ui-bootstrap-custom-2.0.0-csp.css">
    <link rel="stylesheet" href="assets/css/angular-datatables.css">
    <link rel="stylesheet" href="assets/css/pathcare-portal.css">

    <!-- Libs -->
    <script type="application/javascript" src="assets/lib/jquery-1.11.3.min.js"></script>
    <script type="application/javascript" src="assets/lib/jquery.dataTables.min.js"></script>
    <script type="application/javascript" src="assets/lib/bootstrap.js"></script>
    <script type="application/javascript" src="assets/lib/angular.min.js"></script>
    <script type="application/javascript" src="assets/lib/angular-ui-router.js"></script>
    <script type="application/javascript" src="assets/lib/ui-bootstrap-custom-2.0.0.js"></script>
    <script type="application/javascript" src="assets/lib/ui-bootstrap-custom-tpls-2.0.0.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.js"></script>
    <script type="application/javascript" src="assets/lib/numeric-directive.js"></script>

    <!-- CSV Download -->
    <script type="application/javascript" src="assets/lib/angular-sanitize.js"></script>
    <script type="application/javascript" src="assets/lib/ng-csv.js"></script>

    <!--APP-->
    <script type="application/javascript" src="app/app.js"></script>

    <!-- Datatables -->
    <script type="application/javascript" src="assets/lib/angular-datatables.directive.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.factory.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.instances.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.options.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.renderer.js"></script>
    <script type="application/javascript" src="assets/lib/angular-datatables.util.js"></script>

    <!-- Controllers -->
    <script type="application/javascript" src="app/controllers/navController.js"></script>
    <script type="application/javascript" src="app/controllers/home_controller.js"></script>
    <script type="application/javascript" src="app/controllers/patientSearch_controller.js"></script>
    <script type="application/javascript" src="app/controllers/patientProcessPayment_controller.js"></script>
    <script type="application/javascript" src="app/controllers/paymentHistory_controller.js"></script>
    <script type="application/javascript" src="app/controllers/administration_controller.js"></script>

    <!-- Factories -->
    <script type="application/javascript" src="app/services/Home_Factory.js"></script>
    <script type="application/javascript" src="app/services/PatientSearch_Factory.js"></script>
    <script type="application/javascript" src="app/services/PaymentHistory_Factory.js"></script>
    <script type="application/javascript" src="app/services/ProcessPayment_Factory.js"></script>
    <script type="application/javascript" src="app/services/Administration_Factory.js"></script>

</head>
<body>

    <!--Loading Dialog-->
    <div class="loading-dialog" data-loading></div>

    <!--Main Content-->
    <div class="" id="mainContainer">
        <div id="mainContent">
            <div class="pathcare-topbar" ng-controller="NavController">

                <!--Logo-->
                <a style="outline: 0;" ui-sref-active="active" ui-sref="home"><img src="assets/img/pathcare-logo.png" style="width: 150px; padding-top: 5px; padding-left: 10px;" /></a>

                <!--Logout Dropdown-->
                <div class="dropdown pull-right" style="width: 35px; margin-top: 15px; margin-right: 10px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style=" background-color: #004B8E; border:none;">
                        <span class="glyphicon glyphicon-user" style=""></span>
                    </button>

                    <ul class="dropdown-menu" style="min-width: 86px;">
                        <li>
                            <form method="POST" action="ibm_security_logout" name="logout">
                                <input type="HIDDEN" name="logoutExitPage" value="/login.html">
                                <input type="submit" class="btn btn-sm btn-link pull-right" style="width: 100px; margin-right: 10px;" name="logout" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>

                <!--Username-->
                <label style="display: inline-block; padding-top: 20px; padding-right: 15px;" class="pull-right">{{currentUser.fullname}}</label>
            </div>

            <!-- UI VIEW -->
            <div ui-view></div>
        </div>
    </div>

    <!--Footer-->
    <div>
        <div id="footer">
            <cite style="color: #FFF; display: inline-block; font-size: 10px;  padding-top: 10px;">&copy;Pathcare 2017. All rights reserved</cite>
        </div>
    </div>

</body>
</html>